<div *ngIf="resp$ | async as r else noInfo">
  <p>Setup: {{ r.setup }}</p>
  <p>Punchline: {{ r.punchline }}</p>
  <p>Joke Count: {{ countO }}</p>
</div>

<div>
  <button type="submit" (click)="getJokeAsObservable()">
    Get Joke
  </button>
</div>
<br>
<hr>
<br>
<div *ngIf="prom$ | async as p else noInfo">
  <p>Setup: {{ p.setup }}</p>
  <p>Punchline: {{ p.punchline }}</p>
  <p>Joke Count: {{ countP }}</p>
</div>

<div>
  <button type="submit" (click)="getJokeAsPromise()">
    Get Joke
  </button>
</div>

<ng-template #noInfo>
  Is it time for jokes?
</ng-template>